.reveal-overlay {
  z-index: 299999;
}

#call-back-form {
  background-color: $blue;
  border-radius: 0;
  @include breakpoint(670) {
    border-radius: 10px;

  }
  h3 {
    font-size: 28px;
    @include breakpoint(340) {
      font-size: 32px;
    }

  }
  .close-form {
    color: $white;
    font-size: 1em;
    position: relative;
    padding-right: 1.5em;
    display: block;
    line-height: 2.25em;
    &:after {
      content: "X";
      position: absolute;
      font-size: 1.75em;
      top: 0;
      right: 0;
    }
  }
  .animated_forms .gform_wrapper .gform_body {
    max-width: none;
  }
}