.footer {
  color: $white;
  margin-top: 0;
  .rtp {
    text-align: center;
    padding-bottom: 2em;
  }
  a {
    color: $white;
  }
  ul.menu {
    li {
      a {

        color: $white;
        font-size: 15px;
        line-height: 1;
        border-right: 1px solid $white;
        @include breakpoint(large) {
          font-size: 15px;

        }
      }
    }

    li:last-of-type {
      a {
        border-right: none;
      }
    }

  }

  ul.menu>li:after {
    color: $white;
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }
  .blue-background {
    padding-top: 6.25vw;
    @include breakpoint(xxlarge) {
      padding-top: 90px;
    }
    .icon-section {
      p {
        margin-bottom: 2em;
      }
      .light-blue-left-border {
        padding-left: 0;
        padding-top: 1em;
        &:after {
          height: 1px;
          top: 0;
          bottom: auto;
          left: 0;
          right: 0;
          width: auto;
        }
        @include breakpoint(medium) {
          padding-left: 1em;
          padding-top: 0;
          &:after {
            width: 1px;
            background-color: $medium-blue;
            height: auto;
            top: 0.5em;
            bottom: 0.5em;
            right: auto;
          }
        }
      }
    }
    .logo {
      padding-top: 1em;
      padding-bottom: 1em;
      img {
        display: block;
        /*margin-left: auto;
        margin-right: auto;*/
        max-width: 80%;
        height: auto;
        @include breakpoint(large) {
          margin-left: 0;
        }
      }
    }
    .contact {
      .social {
        padding-top: 2em;
      }
      .light-blue-left-border {
        padding-left: 0;
        &:after {
          background-color: transparent;
        }
        @include breakpoint(medium) {
          padding-left: 1em;
          &:after {
            background-color: $medium-blue;
          }
        }
      }
    }
    #footer-links {
      li {
        display: block;
        width: 100%;
        @include breakpoint(900) {
          display: list-item;
          width: auto;
        }
      }

    }
    /*.contact, .logo, .icon-section {
      position: relative;
      p {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        @include breakpoint(large) {
          margin-left: 0;
          max-width: none;
          font-size: 20px;
        }
      }
    }*/
    /*.contact, .logo {
      @include breakpoint(large) {
        &:after {
          content: " ";
          position: absolute;
          right: 20px;
          top: 10px;
          bottom: 10px;
          //height: 100%;
          width: 1px;
          background-color: $white;
        }
      }
    }*/
  }

}