.job-block {
  .mainheading {
    margin-bottom: 0.5em;
    //font-size: 24px;
    color: $blue;
    @include breakpoint(medium) {
      font-size: 34px;
    }
    @include breakpoint(xlarge) {
      font-size: 48px;
    }
  }
  .subheading {
    font-size: 20px;
    margin-bottom: 0.75em;
    @include breakpoint(medium) {
      font-size: 24px;
    }
  }
  .img {
    min-height: 310px;
    min-width: 250px;
    height: 100%;
    width: 100%;
    display: block;
    img {
      height: 100%;
      width: auto;
    }
  }
  .joblink {
    font-size: 16px;
    padding-bottom: 30px;
    .round-button {
      padding-right: 1em;
      &:after {
        display: none;
      }
    }
    @include breakpoint(540) {
      font-size: 18px;
      .round-button {
        padding-right: 2em;
        &:after {
          display: block;
        }
      }
    }
    @include breakpoint(large) {
      padding-bottom: 0;
    }
  }
  .grid-container {
    position: relative;
    .social {
      position: absolute;
      right: 15px;
      bottom: 5px;
      @include breakpoint(540) {
        bottom: 15px;
      }
    }
  }
  .maincontent {
    max-height: 8.4em;
    overflow: hidden;
    margin-bottom: 1em;
  }
  .jobimage {
    display: none;
    visibility: hidden;
    @include breakpoint(840) {
      display: block;
      visibility: visible;
    }
  }
  .jobdescription {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint(840) {
      width: 66.66667%;
      padding-left: 30px;
      padding-right: 30px;
    }

  }
}