.two-column-row {
  padding-top: 4em;
  h1, h2 {
    //margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1;
  }
  .content-container {
    max-width: 39em;
    padding-left: 1em;
    padding-right: 1em;
    @include breakpoint(large) {
      padding: 0;
    }
  }
  .decorated {
    display: block;
    position: relative;
    margin-bottom: 2em;
    &:after {
      content: " ";
      height: 12px;
      bottom: -12px;
      position: absolute;
      display: block;
    }
  }
  .image-right {
    .decorated {
      &:after {
        left: 10%;
        right: 0;
      }
    }
    .content-container {
      @include breakpoint(large) {
        margin-left: auto;
        margin-right: 0;
        padding-right: 3em;
        padding-left: 1em;
        padding-bottom: 2em;
      }
    }
  }
  .image-left {
    .decorated {
      &:after {
        left: 0;
        right: 10%;
      }
    }
    .content-container {
      @include breakpoint(large) {
        margin-left: 0;
        margin-right: auto;
        padding-left: 3em;
        padding-right: 1em;
        padding-bottom: 2em;
      }
    }
  }

  &.blue-decoration {
    position: relative;
    @include breakpoint(large) {
      margin-bottom: 7.431vw;
      &:after {
        position: absolute;
        height: 7.431vw;
        bottom: -7.431vw;
        left: 0;
        width: 100%;
        content: " ";
        background-image: url("../images/swoosh_top.png");
        background-size: cover;
        z-index: 1;
      }
    }

    h1, h2, h3 {
      color: $blue;
    }
    .decorated {
      &:after {
        background-color: $blue;
      }
    }
  }
  &.red-decoration {
    position: relative;
    @include breakpoint(large) {
      margin-bottom: 9.5vw;
      &:after {
        position: absolute;
        height: 9.5vw;
        bottom: -9.5vw;
        left: 0;
        width: 100%;
        content: " ";
        background-image: url("../images/swoosh-red-bottom.png");
        background-size: cover;
        z-index: 1;
      }
    }
    h1, h2, h3 {
      color: $red;
    }
    .decorated {
      &:after {
        background-color: $red;
      }
    }
  }
  &.green-decoration {
    position: relative;
    @include breakpoint(large) {
      margin-bottom: 7.431vw;
      &:after {
        position: absolute;
        height: 7.431vw;
        bottom: -7.431vw;
        left: 0;
        width: 100%;
        content: " ";
        background-image: url("../images/swoosh-middle.png");
        background-size: cover;
        z-index: 1;
      }
    }
    h1, h2, h3 {
      color: $green;
    }
    .decorated {
      &:after {
        background-color: $green;
      }
    }
  }

}